# Eclipse project files.
.project
.classpath
.settings/
assembly/.project
assembly/.classpath
assembly/.settings/
bukkit/.project
bukkit/.classpath
bukkit/.settings/
core/.project
core/.classpath
core/.settings/
bungee/.project
bungee/.classpath
bungee/.settings/
sponge/.project
sponge/.classpath
sponge/.settings/
velocity/.project
velocity/.classpath
velocity/.settings/

# Build artifacts.
.gradle/
build/
assembly/build/
bukkit/build/
bungee/build/
core/build/
velocity/build/

# IntelliJ project files.
.idea
*.iml
out
gen
